* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 200ms linear;
}

body {
  background-color: #151515;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 800px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5%;
  gap: 20px;
  flex-direction: column;
}

.container > div {
  width: 100%;
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.05);
}

.container .box {
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 250ms;
}

.container .box .content {
  font-size: 3rem;
  text-shadow: 2px 3px rgba(255, 255, 255, 0);
  color: #fff;
}

.container .box #topics {
  width: 100%;
  height: 100%;
  max-height:  300px;
  gap: 30px;
  overflow-y: auto;
  margin: 8px 8px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 20px;
}

.container .box #topics .topic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid blue;
}

.container .panel {
  position: relative;
  min-height: 50px;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.container .panel::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  top: 50%;
  left: 0;
  border: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 0;
}

.btn {
  padding: 10px 15px;
  user-select: none;
  font-size: 19px;
  background: linear-gradient(
    35deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.29)
  );
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
  z-index: 1;
  cursor: pointer;
  color: #fff;
  backdrop-filter: blur(5px);
  transition: 250ms;
}

.btn:hover {
  border-color: rgba(255, 255, 255, 0.2);
  transform: scale(1.01, 1.01);
}

.btn:active {
  transform: scale(1.1, 1.1);
  -webkit-tap-highlight-color: transparent;
}

.btn.rounded {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  border-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  font-family: Ubuntu;
}

.btn.secondary:hover {
  background-color: rgba(26, 96, 195, 0.7);
}

.btn.secondary {
  border-color: rgb(26, 96, 195);
  background: transparent;
}

.list {
  padding: 10px 15px;
}

.list li{
  width: 100%;
  border: 1px solid red;
  padding: 10px 15px;
  display: inline-block;
  color: #fff;
  font-size: 1.1rem;
  border-radius: 12px;
  border-color:rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
  margin-bottom: 8px;
}

#list[data-switched="off"] {
  transform-origin: right;
  transform: scaleX(0);
  position: absolute;
}

#list[data-switched="on"] {
  position: absolute;
  max-width: 800px;
  width: 95%;
  height: 50%;
  backdrop-filter: blur(20px);
  z-index: 4;
  overflow: auto;
}

@media screen and (max-width: 767px) {
  #list[data-switched="on"] {
    height: 100%;
  }
}