@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 200ms linear;
  font-family: "Poppins", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
}

body {
  background-color: #151515;
  display: flex;
  justify-content: center;
}

body,
html {
  overflow: hidden;
}

.d-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.d-flex {
  display: flex !important;
}

.jc-sb {
  justify-content: space-between;
}

.g-1 {
  gap: 10px;
}

.mb-1 {
  margin-bottom: 10px;
}

.container {
  width: 100vw;
  max-width: 800px;
  height: 100vh;
  padding: 0 5%;
  gap: 20px;
  flex-direction: column;
}

.d-center .title {
  font-size: 1.6rem;
  color: #fff;
  text-shadow: 2px 3px rgba(255, 255, 255, 0);
  text-align: center;
}

.navigators {
  width: 70%;
  position: absolute;
  height: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
}

.navigators .nav {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
}

.navigators .nav span {
  display: inline block;
  width: 50px;
  height: 50px;
  transform: rotate(45deg);
  border: 4px solid #fff;
  border-radius: 5px;
  border-top: none;
  border-right: none;
}

.navigators .nav.to-right {
  transform: rotate(180deg);
}

.container > div {
  width: 100%;
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.05);
}

.container .box {
  min-height: 300px;
  transition: 250ms;
}

.container .box .content {
  font-size: 2.9rem;
  text-shadow: 2px 3px rgba(255, 255, 255, 0);
  color: #fff;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.loader {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.loader .loader {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.1);
  border-top: 5px solid #fff;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container .box .topics {
  width: 100%;
  height: 100%;
  max-height: 300px;
  gap: 30px;
  overflow-y: auto;
  margin: 8px 8px;
  flex-wrap: wrap;
  padding-top: 20px;
}

.container .box .topics .topic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.25);
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(24px);
  overflow: hidden;
  transition: 200ms;
}

.container .box .topics .topic:hover {
  background: rgba(255, 255, 255, 0.2);
  transform: scale(1.05) translateY(-5px);  
  border-color: rgba(255, 255, 255, 0.8);
}


.topic.choosen {
  background: rgba(255, 255, 255, 0.2) !important;
  border-color: rgba(255, 255, 255, 0.8) !important;
}

.container .panel {
  position: relative;
  min-height: 50px;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.container .panel::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  top: 50%;
  left: 0;
  border: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 0;
}

.btn {
  padding: 10px 15px;
  user-select: none;
  font-size: 19px;
  background: linear-gradient(
    35deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.29)
  );
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
  z-index: 1;
  cursor: pointer;
  color: #fff;
  backdrop-filter: blur(5px);
  transition: 250ms;
}

.btn.mini {
  padding: 5px 10px;
  font-size: 14px;
}

.btn:hover {
  border-color: rgba(255, 255, 255, 0.2);
  transform: scale(1.01, 1.01);
}

.btn:active {
  transform: scale(1.1, 1.1);
  -webkit-tap-highlight-color: transparent;
}

.btn.secondary:hover {
  background-color: rgba(26, 96, 195, 0.7);
}

.btn.secondary {
  border-color: rgb(26, 96, 195);
  background: transparent;
}

.btn.danger {
  border-color: rgb(255, 0, 0);
  background: transparent;
}

.btn.danger:hover {
  background-color: rgba(255, 0, 0, 0.7);
}

.add {
  position: relative;
  z-index: 22;
}

.form-input {
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  font-size: 1.1rem;
  width: 100%;
  margin-bottom: 10px;
  outline: none;
  transition: 250ms;
}

.form-input:focus {
  border-color: rgba(255, 255, 255, 0.6);
  transform: scale(1.01, 1.01);
}

.form-input.mini {
  padding: 5px;
  font-size: 0.9rem;
}

.field {
  width: 100%;
  display: flex;
  gap: 10px;
}

.list {
  position: relative;
  max-width: 800px;
  width: 95%;
  position: absolute;
  height: 100%;
  max-height: 470px;
  backdrop-filter: blur(20px);
}

.list ul {
  padding: 10px 15px;
  height: 100%;
  overflow: auto;
}

summary {
  cursor: pointer;
  color: #fff;
}

.list li,
.word {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10px 15px;
  display: inline-block;
  color: #fff;
  font-size: 1.1rem;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  margin-bottom: 8px;
  cursor: pointer;
}

.list .word {
  font-size: 18px;
}

.list .details {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow: hidden;
  transition: 300ms;
  opacity: 1;
  height: auto;
}

.list .details.closed {
  height: 0px;
  opacity: 0;
}

.list[data-switched="off"] {
  opacity: 0;
  transform: translateX(100%);
}

.list .close {
  position: fixed;
  right: 20px;
  top: 20px;
  color: #fff;
  background-color: red;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  padding-bottom: 2px;
}

.list[data-switched="on"] {
  z-index: 4;
}

@media screen and (max-width: 767px) {
  .list {
    top: 0;
    left: 0;
    max-height: 100%;
  }
  .list[data-switched="on"] {
    height: 100%;
  }
  .navigators {
    display: none;  
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Styling the scrollbar track */
.topics::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.01);
  border-radius: 10px;
}

/* Styling the scrollbar thumb */
.topics::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

/* Styling the scrollbar thumb on hover */
.topics::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
